name: jman build

on:
  push:
    tags:
      - "v*"

permissions:
  id-token: write # Required for OIDC
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
          registry-url: "https://registry.npmjs.org"

      - name: Install Packages
        run: bun install

      - name: Testing the code
        run: bun run test

      - name: Build
        run: make build

      #      - name: Publish to NPM
      #        run: npm publish

      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "dist/jman"
