name: jman build

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - uses: pnpm/action-setup@v3
        name: Install pnpm
        with:
          run_install: false

      - name: Install Packages
        run: pnpm install

      - name: Testing the code
        run: pnpm test

      - name: Build
        run: make build

      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "dist/jman"
