name: jman build

on:
  push:
    tags:
      - "v*"

permissions:
  id-token: write # Required for OIDC
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "24"
          registry-url: "https://registry.npmjs.org"

      - name: Install pnpm
        uses: pnpm/action-setup@v3
        with:
          run_install: false

      - name: Install Packages
        run: pnpm install

      - name: Testing the code
        run: pnpm test

      - name: Build
        run: make build

      - name: Publish to NPM
        run: npm publish

      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "dist/jman"
